<div class="sky-tabset">
  <div
    role="tablist"
    [attr.aria-label]="ariaLabel"
    (keydown)="onKeyDown($event)"
  >
    <a *ngFor="let button of tabButtonConfigs; let i = index;"
      class="sky-tab-button sky-margin-inline-compact"
      role="tab"
      [attr.aria-controls]="button.panelId"
      [attr.aria-readonly]="button.disabled"
      [attr.aria-selected]="button.isActive"
      [attr.id]="button.buttonId"
      [attr.tabIndex]="button.tabIndex"
      [ngClass]="{
        'sky-tab-button-active': button.isActive,
        'sky-tab-button-disabled': button.disabled
      }"
      (click)="onTabClick(i)"
      (focus)="focusIndex = i"
      (keyup.enter)="onTabClick(i)"
    >
      <span
        class="sky-tab-button-heading"
      >{{ button.heading }}</span>

      <span *ngIf="button.headingCount !== undefined"
        class="sky-tab-button-heading-count"
      >&nbsp;{{ button.headingCount }}</span>

      <sky-tab-close-button *ngIf="button.isClosable"
        [disabled]="button.disabled"
        [tabIndex]="button.tabIndex"
        (click)="onCloseButtonClick(i)"
      ></sky-tab-close-button>
    </a>
  </div>
  <div class="sky-tabset-panels">
    <ng-content></ng-content>
  </div>
</div>
