<sky-tabset
  ariaLabel="Sample tabs"
  queryParam="sample"
  [activeIndex]="activeIndex"
  (activeIndexChange)="onActiveIndexChange($event)"
  (closeTab)="onCloseTab($event)"
  (newTab)="onNewTab()"
  (openTab)="onOpenTab()"
>
  <sky-tab *ngFor="let tab of tabConfigs"
    [disabled]="tab.disabled"
    [heading]="tab.heading"
    [headingCount]="tab.headingCount"
    [isCloseable]="tab.isCloseable"
    [queryParamValue]="tab.queryParamValue"
  >
    {{ tab.content }}
  </sky-tab>
</sky-tabset>

<p>
  <a skyAppLink="/dummy">Dummy route</a>
</p>